<p id="notice"><%= notice %></p>

<p>
  <strong>Importe:</strong>
  <%= @movimiento.importe %>
</p>

<p>
  <strong>Fecha hora:</strong>
  <%= @movimiento.fecha_hora %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @movimiento.cuenta_id %>
</p>

<%= link_to 'Edit', edit_movimiento_path(@movimiento) %> |
<%= link_to 'Back', movimientos_path %>
