<%= form_with(model: cuentum) do |form| %>
  <% if cuentum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cuentum.errors.count, "error") %> prohibited this cuentum from being saved:</h2>

      <ul>
        <% cuentum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :saldo %>
    <%= form.text_field :saldo %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
