<p id="notice"><%= notice %></p>

<p>
  <strong>Saldo:</strong>
  <%= @cuentum.saldo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @cuentum.usuario_id %>
</p>

<%= link_to 'Edit', edit_cuentum_path(@cuentum) %> |
<%= link_to 'Back', cuenta_path %>
